<div id="@TabModel.Id"
     class="@(
        $"bch-tab-element noselectable-text " +
        $"{(IsSelected() ? "bch-selected " : "")}"
     )"
     style="@(
        $"min-width: {TabContext.DraggingTabModel?.Width.ToString(_numberFormatWithDot)}px;" +
        $"height: {PanelModel.Height}px;"
     )">

    <div class="bch-wrapper">

        @if (TabModel.TabTemplate == null)
        {
            <div class="bch-icon">
                <img class="noselectable-text" src="@(IsSelected() ? TabModel.SelectedIconImage : TabModel.IconImage)" />
            </div>
            <div class="bch-name noselectable-text">@TabModel.Name</div>
            <div class="bch-close">
                <img class="noselectable-text" src="@(IsSelected() ? _closeIconSelected : _closeIcon)" />
            </div>

            <div class="bch-bottom-line"></div>
        }
        else
        {
            @TabModel.TabTemplate(TabModel)
        }

    </div>
</div>