@{
    var isCentral = IsCenter();
}

@if (ModalModel.Overlay)
{
    <div class="bch-modal-overlay @ModalModel.CssClass" @onclick="() => { OnOverlayClicked(); }">
        <div @onclick:stopPropagation
             class="bch-modal-content-container @ModalModel.CssClass"
             style="@($"width: {ModalModel.Width}; height: {ModalModel.Height}; " + $"position: {(isCentral ? "static" : "absolute")}; left: {ModalModel.X}; top: {ModalModel.Y};")">
            @ModalModel.Fragment
        </div>
    </div>
}
else
{
    <div @onclick:stopPropagation
         class="@($"bch-modal-content-container bch-no-layer {(isCentral ? "bch-central" : "")} {ModalModel.CssClass}")"
         style="@($"width: {ModalModel.Width}; height: {ModalModel.Height}; " + $"{(!isCentral ? $"left: {ModalModel.X}; top: {ModalModel.Y};" : "")}")">
        @ModalModel.Fragment
    </div>
}

<style>
    .bch-modal-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bch-modal-content-container {
        display: flex;
    }
                
    .bch-modal-content-container.bch-no-layer {
        position: absolute;
    }
    
    .bch-modal-content-container.bch-no-layer.bch-central {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>