<div class="bch-expand-menu" @onclick="OnClick">

    <div class="head-block @(OwnerContainer.SelectedMenu == this ? "selected" : "")">
        <div class="title noselectable-text">@Title</div>
        <div class="noselectable-text" style="@(OwnerContainer.SelectedMenu == this ? "transform: rotate(180deg); transition: 0.2s;" : "transition: 0.2s;")">
            <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8632 0L14 0.977966L7 7L0 0.977966L1.13679 0L7 5.04407L12.8632 0Z"
                      fill="@(OwnerContainer.SelectedMenu == this ? "#33B469" : "#131212")" />
            </svg>
        </div>
    </div>
    <div class="description @(OwnerContainer.SelectedMenu == this ? "opened" : "hided")"
         style="@(OwnerContainer.SelectedMenu == this ? $"max-height: {_heightDescription}px;" : "max-height: 0px;")">
        <div id="@_descriptionId" class="noselectable-text desc-text">
            <div>@Description</div>
         </div>
    </div>
</div>