<div class="bch-rb-item @(ContentTemplate is not null ? "custom" : "") @(Disabled ? "disabled" : "")" @onclick="OnClick">

    @if (ContentTemplate is null)
    {
        @if (CircleTemplate is null)
        {
            <div class="circle">
                <div class="inner @(OwnerContainer.SelectedRb == this ? "selected" : "")"></div>
            </div>
        }
        else
        {
            @CircleTemplate(OwnerContainer.SelectedRb == this)
        }

        @if (DataTemplate is null)
        {
            <label class="text">@Text</label>
        }
        else
        {
            @DataTemplate(OwnerContainer.SelectedRb == this)
        }
    }
    else
    {
        @ContentTemplate(OwnerContainer.SelectedRb == this)
    }

</div>