@if (SubscriptionService.IsSubscriptionActivated)
{
    <div class="bch-datepicker-wrapper @CssClass" id="@_containerId" tabindex="-1">

        <div class="bch-datepicker" @onclick="OnCalendarClickedAsync">
            <input id="@_inputId"
                   class="bch-datepicker-input"
                   readonly
                   autocomplete="unrechable-filter-to-autocomplete"
                   value="@_value.ToString(Format)"
                   @ref="@_inputRef"/>
            <img class="bch-datepicker-img" src="_content/BlazorComponentHeap.Components/img/datepicker/calendar-icon.svg"/>
        </div>

        <BCHModal CssClass="@($"bch-calendar-days-modal-wrapper {CssClass}")"
                  Width="250px"
                  Height="unset"
                  X="@($"{_containerPos.X.ToString(_nF)}px")"
                  Y="@($"{_containerPos.Y.ToString(_nF)}px")"
                  @bind-Show="_showDate">
            <BCHCalendarDays Id="@_calendarDaysId"
                             OnDateSelected="async (e) => { Value = e; _showDate = false; await OnShowModeChangedAsync(); }"
                             Culture="Culture"
                             DefaultMonth="_selectedMonth"
                             DefaultYear="_selectedYear"
                             OnFocusOut="async () => { await _inputRef.FocusAsync(); }"
                             SelectedDate="Value"
                             IsShowMonth="async (e) => { _showMonth = e; _showDate = false; await OnShowModeChangedAsync(); }"/>
        </BCHModal>

        <BCHModal CssClass="@($"bch-calendar-months-modal-wrapper {CssClass}")"
                  Width="250px"
                  Height="unset"
                  X="@($"{_containerPos.X.ToString(_nF)}px")"
                  Y="@($"{_containerPos.Y.ToString(_nF)}px")"
                  @bind-Show="_showMonth">
            <BCHCalendarMonths Id="@_calendarMonthsId"
                               YearsSelectContentId="@_yearsSelectContentId"
                               SelectedMonth="_selectedMonth"
                               SelectedYear="_selectedYear"
                               MonthChanged="async (e) => { _selectedMonth = e; await OnShowModeChangedAsync(); }"
                               YearChanged="async (e) => { _selectedYear = e; await OnShowModeChangedAsync(); }"
                               IsShowDate="async (e) => { _showMonth = false; _showDate = e; await OnShowModeChangedAsync(); }"
                               OnFocusOut="async () => { await _inputRef.FocusAsync(); }"/>
        </BCHModal>
    </div>
}

<style>
    .bch-calendar-days-modal-wrapper,
    .bch-calendar-months-modal-wrapper {
        transform: translateY(49px);
    }
</style>