@typeparam TItem

<div class="@("bch-slider-container " + $"{(CircleButtonsAboveContent ? "bch-circle-buttons-above-content" : "")} " + $"{(CircularScroll ? "bch-circular" : "")}" )">
    <div class="@("bch-scroll-btn bch-left " + $"{(ButtonsAboveContent ? "bch-above-content" : "")} " + $"{(ShowCircleButtons ? "bch-circle-buttons" : "")} " + $"{(_scrollIndex == 0 ? "bch-disabled" : "")}")">
        <div class="bch-icon-wrapper" @onclick="() => { OnNextClicked(1); }"></div>
    </div>

    <div class="bch-slider-content"
         style="@($"width: {(ButtonsAboveContent ? "100%" : "calc(100% - 40px)")}; " + $"height: {(ShowCircleButtons ? "calc(100% - 20px)" : "100%")};")">
        <div class="bch-scroller"
             style="@($"left: {((100.0f / RenderItemCount) * _scrollIndex).ToString(_numberFormatWithDot)}%")">
            @for (var i = -2; i < RenderItemCount + 2; i++)
            {
                var index = (i - _scrollIndex) % Items.Count;
                index = index < 0 ? (Items.Count + index) : index;

                var item = Items[index];
                var key = $"index-{(i - _scrollIndex)}";

                <div @key="key"
                     class="bch-item"
                     style="@($"width: {(100.0f / RenderItemCount).ToString(_numberFormatWithDot)}%;" + $"left: {((100.0f / RenderItemCount) * (i - _scrollIndex)).ToString(_numberFormatWithDot)}%")">
                    @ItemTemplate(item)
                </div>
            }
        </div>
    </div>

    @if (ShowCircleButtons)
    {
        <div class="bch-circles-wrapper">
            @for (var i = 0; i < Items.Count; i++)
            {
                var _i = i;
                var index = (0 - _scrollIndex) % Items.Count;
                index = index < 0 ? (Items.Count + index) : index;

                <div class="bch-circle" @onclick="() => { OnCircleClicked(_i); }">
                    @if (i == index)
                    {
                        <div class="bch-selected"></div>
                    }
                </div>
            }
        </div>
    }

    <div class="@($"bch-scroll-btn bch-right " + $"{(ButtonsAboveContent ? "bch-above-content" : "")} " + $"{(ShowCircleButtons ? "bch-circle-buttons" : "")} " + $"{(_scrollIndex == (-Items.Count + RenderItemCount) ? "bch-disabled" : "")}")">
        <div class="bch-icon-wrapper" @onclick="() => { OnNextClicked(-1); }"></div>
    </div>
</div>